* {
  margin: 0;
}
body {
  background-color: rgb(200, 244, 200);
}

nav {
  background-color: #ffffff;
  padding: 0.5em;
}

.nav-link {
  font-size: 1.4em;
  text-decoration: none;
  margin-right: 0.4em;
  border: black solid 0.2em;
  padding: 0.2em;
}

.nav-link:hover {
  background-color: green;
  color: white;
}
